./.git/objects/pack/pack-96e6e4c3009b2d0a9d8ff311dacd4a0189bda6f6.pack
./tools/n-arduino/arduino-gui/android-studio/lib/idea.jar
./tools/n-arduino/arduino-gui/android-studio/android-studio-ide-143.2790544-linux.zip
./tools/r-bibliography/storage2/iaria/IARIA_Deck_BobGriffin.pdf
./tools/r-bibliography/storage2/iaria/AmiraliSoroush_Tutorial_SENSORCOMM_ 2019.pdf
./tools/c-r/BoomSpikeSlab/libs/BoomSpikeSlab.so
./tools/c-r/FRegSigCom/libs/FRegSigCom.so
./tools/c-r/gaston/libs/gaston.so
./tools/c-r/h2o/java/h2o.jar
./tools/c-r/multinet/libs/multinet.so
./tools/c-r/BayesXsrc/libs/BayesX
./tools/c-r/MetaStan/libs/MetaStan.so
./tools/c-r/bayesdfa/libs/bayesdfa.so
./tools/c-r/RNiftyReg/libs/RNiftyReg.so
./tools/c-r/Boom/lib/libboom.a
./tools/c-r/ctsem/libs/ctsem.so
./tools/c-r/bsts/libs/bsts.so
./tools/c-r/beanz/libs/beanz.so
./tools/c-r/rstan/libs/rstan.so
./tools/c-r/OpenMx/libs/OpenMx.so
./tools/c-r/mapdeck/libs/mapdeck.so
./tools/c-r/conStruct/libs/conStruct.so
./tools/c-r/gpuR/libs/gpuR.so
./tools/c-r/bayes4psy/libs/bayes4psy.so
./tools/c-r/cbq/libs/cbq.so
./tools/c-r/eggCounts/libs/eggCounts.so
./tools/c-r/gastempt/libs/gastempt.so
./tools/c-r/hsstan/libs/hsstan.so
./tools/c-r/metaBMA/libs/metaBMA.so
./tools/c-r/pcFactorStan/libs/pcFactorStan.so
./tools/c-r/qmix/libs/qmix.so
./tools/c-r/ssMousetrack/libs/ssMousetrack.so
./tools/c-r/baggr/libs/baggr.so
./tools/c-r/rstap/libs/rstap.so
./tools/c-r/trialr/libs/trialr.so
./tools/c-mlpack/build/src/mlpack/tests/cotire/mlpack_test_CXX_prefix.hxx.gch
./tools/c-mlpack/build/src/mlpack/cotire/mlpack_CXX_prefix.hxx.gch
./tools/c-matlab/polyspace/plugin/eclipse/plugins/com.polyspace.eclipse.polyspace_plugin_1.3.2.1.jar
./tools/c-matlab/toolbox/comm/commdemos/adsb_capture_01.bb
./tools/c-matlab/toolbox/compiler/deploy/glnxa64/MCRInstaller.zip
./tools/c-matlab/toolbox/matlab/depfun/+matlab/+depfun/+internal/requirements_glnxa64_dfdb
./tools/c-matlab/cefclient/sys/os/glnxa64/libcef.so
./tools/c-matlab/bin/glnxa64/libcufft.so.7.5.18
./tools/0-vm/RESCOM2019-JBOTSIM/intelliJ/windows/ideaIC-2019.1.3.exe
./tools/0-vm/RESCOM2019-JBOTSIM/intelliJ/mac/ideaIC-2019.1.3.dmg
./tools/0-vm/RESCOM2019-JBOTSIM/intelliJ/linux/ideaIC-2019.1.3.tar.gz
./tools/0-vm/RESCOM2019-POTTIER/Rescom19.ova
./tools/0-vm/RESCOM2019-POTTIER/DOCS/NetGen+kroc-EN.pptx
./tools/0-vm/RESCOM2019-POTTIER/DOCS/Installation-interactive-EN.key
./tools/0-vm/RESCOM2019-POTTIER/DOCS/NetGen+kroc-EN.key
./tools/0-vm/RESCOM2019-POTTIER/DOCS/Installation-interactive-EN.pptx
./tools/0-vm/raspberrypi-jessie-WAZIUP-full-RPI3-v14.dmg
./tools/c-python/PyQt5/Qt/lib/libQt5WebEngineCore.so.5
./tools/c-python/IcePy.cpython-37m-x86_64-linux-gnu.so
./tools/c-python/libsbml/_libsbml.cpython-37m-x86_64-linux-gnu.so
./tools/c-python/torch/lib/libtorch.so
./tools/c-python/cmsis_pack_manager/_native__lib.so
./tools/c-python/SimpleITK/_SimpleITK.cpython-37m-x86_64-linux-gnu.so
./tools/c-data/scikit_learn_data/kddcup99_10/samples

tools
config/system/.local/share/data
config/system/.local/share/Trash
tools

