./Aghiles/job/cod/.git/objects/pack/pack-873e238cea8a6ece8f2b19a22aeb5932547ab979.pack
./Aghiles/job/cod/engineering/4-rest/vw8.3pul.tar.gz
./Aghiles/job/ece/.git/objects/pack/pack-4c760663dcfffae9e0e11b23ac134495fdf7a9d6.pack
./Aghiles/tool/tools/xresources/IARIA_Deck_BobGriffin.pdf
./Aghiles/tool/tools/xresources/resources/IARIA_Deck_BobGriffin.pdf
./Aghiles/tool/tools/xresources/resources/AmiraliSoroush_Tutorial_SENSORCOMM_ 2019.pdf
./Aghiles/tool/tools/xresources/AmiraliSoroush_Tutorial_SENSORCOMM_ 2019.pdf
./Aghiles/tool/tools/ns-3/ns-3/.git/objects/pack/pack-6702dca7079fc84b03e441554182ad987666869f.pack
./Aghiles/tool/tools/scikit_learn_data/kddcup99_10/samples
./Aghiles/tool/tools/vm/RESCOM2019-JBOTSIM/intelliJ/windows/ideaIC-2019.1.3.exe
./Aghiles/tool/tools/vm/RESCOM2019-JBOTSIM/intelliJ/mac/ideaIC-2019.1.3.dmg
./Aghiles/tool/tools/vm/RESCOM2019-JBOTSIM/intelliJ/linux/ideaIC-2019.1.3.tar.gz
./Aghiles/tool/tools/vm/RESCOM2019-POTTIER/Rescom19.ova
./Aghiles/tool/tools/vm/RESCOM2019-POTTIER/DOCS/NetGen+kroc-EN.pptx
./Aghiles/tool/tools/vm/RESCOM2019-POTTIER/DOCS/Installation-interactive-EN.key
./Aghiles/tool/tools/vm/RESCOM2019-POTTIER/DOCS/NetGen+kroc-EN.key
./Aghiles/tool/tools/vm/RESCOM2019-POTTIER/DOCS/Installation-interactive-EN.pptx
./Aghiles/tool/tools/vm/raspberrypi-jessie-WAZIUP-full-RPI3-v14.dmg
./Aghiles/tool/tools/vm/RESCOM2019-HYON-JEANMARIE/Rescom2019_TP.vdi
./Aghiles/tool/tools/arduino/android-studio/lib/idea.jar
./Aghiles/tool/tools/arduino/android-studio/android-studio-ide-143.2790544-linux.zip
./Aghiles/tool/tools/matlab/polyspace/plugin/eclipse/plugins/com.polyspace.eclipse.polyspace_plugin_1.3.2.1.jar
./Aghiles/tool/tools/matlab/toolbox/comm/commdemos/adsb_capture_01.bb
./Aghiles/tool/tools/matlab/toolbox/compiler/deploy/glnxa64/MCRInstaller.zip
./Aghiles/tool/tools/matlab/toolbox/matlab/depfun/+matlab/+depfun/+internal/requirements_glnxa64_dfdb
./Aghiles/tool/tools/matlab/cefclient/sys/os/glnxa64/libcef.so
./Aghiles/tool/tools/matlab/bin/glnxa64/libcufft.so.7.5.18
./Downloads/tmp/rstudio-1.2.1555-amd642.deb
./Downloads/tmp/rstudio-1.2.1555-amd64.deb
./Downloads/tmp/jdk-8u202-linux-x64.tar.gz

tools
config/home/.local/share/data
config/home/.local/share/Trash
tools


tools
config/home/.local/share/data
config/home/.local/share/Trash
tools


tools
config/home/.local/share/data
config/home/.local/share/Trash
tools


tools
config/home/.local/share/data
config/home/.local/share/Trash
tools



tools
tools
config/home/.local/share/data
config/home/.local/share/data
config/home/.local/share/Trash
config/home/.local/share/Trash
tools
tools


