[Desktop Entry]
Encoding=UTF-8
Name=Link to syntex: port to new menu API (14df2455) · Commits · GNOME / gedit-plugins · GitLab
Type=Link
URL=https://gitlab.gnome.org/GNOME/gedit-plugins/commit/14df2455455b3a3a17c226341b41782f10fd6988
Icon=text-html
Name[en_US]=gedit-plugins
